<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eis_project.dashboard.repository.DashboardMapper">
    <select id="getPatientCount" statementType="CALLABLE" resultType="dashboardCountResponse" parameterType="dashboardRequest">
        {
            CALL dbo.UP_MOBILE_EIS_MAIN_R$001 (
                #{searchYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getPatientAmount" statementType="CALLABLE" resultType="dashboardAmountResponse" parameterType="dashboardRequest">
        {
            CALL dbo.UP_MOBILE_EIS_MAIN_R$002 (
                #{searchYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getSurgeryCount" statementType="CALLABLE" resultType="dashboardSurgeryCountResponse" parameterType="dashboardRequest">
        {
            CALL dbo.UP_MOBILE_EIS_MAIN_R$003 (
                #{searchYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getWardRate" statementType="CALLABLE" resultType="dashboardWardRateResponse" parameterType="dashboardRequest">
        {
            CALL dbo.UP_MOBILE_EIS_MAIN_R$004 (
                #{searchYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>
</mapper>