<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eis_project.revenue.repository.RevenueMapper">
    <select id="getRevenueDept" statementType="CALLABLE" resultType="RevenueDeptResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_PROFIT_R (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getRevenue" statementType="CALLABLE" resultType="RevenueResponse" parameterType="CommonDeptRequest">
        {
            CALL dbo.UP_MOBILE_EIS_PROFIT_R$001 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR},
                #{deptCd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCovered" statementType="CALLABLE" resultType="NonCoveredResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NONBENEFIT_R$001 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>
</mapper>