<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eis_project.revenue.repository.RevenueMapper">
    <select id="getRevenueDept" statementType="CALLABLE" resultType="RevenueDeptResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_PROFIT_R (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getRevenue" statementType="CALLABLE" resultType="RevenueResponse" parameterType="CommonDeptRequest">
        {
            CALL dbo.UP_MOBILE_EIS_PROFIT_R$001 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR},
                #{deptCd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCovered" statementType="CALLABLE" resultType="NonCoveredResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NONBENEFIT_R$001 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCoverDivision" statementType="CALLABLE" resultType="NonCoverDivisionResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NONBENEFIT_R$001 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getTotalClinicRevenue" statementType="CALLABLE" resultType="TotalClinicRevenueResponse">
        {
            CALL dbo.UP_MOBILE_EIS_MAIN_R$002 (
                #{searchYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCoveredItem" statementType="CALLABLE" resultType="nonCoveredItemResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NON_BENEFIT_R$001 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCoveredTransition" statementType="CALLABLE" resultType="nonCoveredTransitionResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NON_BENEFIT_R$002 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCoveredDepartment" statementType="CALLABLE" resultType="nonCoveredDepartmentResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NON_BENEFIT_R$003 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCoveredMain" statementType="CALLABLE" resultType="nonCoveredMainResponse" parameterType="CommonDateRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NON_BENEFIT_R$004 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>

    <select id="getNonCoveredDetail" statementType="CALLABLE" resultType="nonCoveredDetailResponse" parameterType="CommonMedfeeRequest">
        {
            CALL dbo.UP_MOBILE_EIS_NON_BENEFIT_R$005 (
                #{startYmd, mode=IN, jdbcType=VARCHAR},
                #{endYmd, mode=IN, jdbcType=VARCHAR},
                #{medfeeClassCd, mode=IN, jdbcType=VARCHAR}
                 )
            }
    </select>
</mapper>